# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
__pycache__/
runs/
yolov5/


# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyTorch model files
*.pt
__pycache__/
runs/
yolov5/
